/* Hide sidebar for recording. */

/*

#starlight__sidebar {
    display: none;
}

.main-frame {
    padding-inline-start: 125px;
}

.sl-container {
    max-width: unset;
    padding-right: 50px;
}

*/
